PORT=5000
MONGODB_URI=
FRONTEND_URL=http://localhost:5173
ADMIN_FRONTEND_URL=http://localhost:5174
ADMIN_PASSWORD_HASH=
JWT_SECRET=change-me
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
QR_IMAGE_URL=
